body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 18px;
}

.header, .footer, .panel {
    min-width: 800px;
    padding-left: 200px;
    padding-right: 200px;
}

.header, .footer , .one{
    background-color: #1F2937;
    color: #E5E7EB;
}

.header, .footer {
    min-height: 100px;
}

.header {
    display: flex;
    justify-content:space-between;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 18px;
    padding-top: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 910;
    padding-top: 16px;
}

.hero .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 910;    
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.hero, .img {
    height: 240px;
    flex: 1;
}

.img {
    background-color: #e5e7eb4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: baseline;
}

.one {
    display: flex;
    gap: 16px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.two .title {
    font-size: 36px;
    color:#1F2937;
    font-weight: 910;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.two ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 48px;
}

.two li {
    text-align: center;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#1F2937;
    gap:8px;
}

.rounded {
    height: 150px;
    width: 150px;
    border: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
}